.conf-global {
  margin-top: 10%;
  margin-bottom: 30%;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .conf-global {
    margin-top: 35%; /* Increased top margin for smaller screens */
    margin-bottom: 40%; /* Increased bottom margin for smaller screens */
  }
}
