#root {
  align-items: center;
  /* max-width: 1280px; */
  text-align: center;
  width: 100%;
}

.vsc {
  margin-top: 2rem;
  height: 5em;
  font-size: 35px;
  border-radius: 45% 45%;
  padding: 1.5em;
  filter: grayscale(80%);
  will-change: filter;
  transition: filter 300ms;
}
.vsc:hover {
  filter: drop-shadow(0 0 2em hsla(45, 100%, 70%, 0.667));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
